<a href="#">
  <div class="content">
    <div class="title">{{ name }}</div>

    <small>near {{ location }}</small>
  </div>
  <ul class="meta">
    <li>{{ distanceInMiles }} mi</li>
    <li class="openClosed">{{ openClosed }}<span class="icon-{{ openClosed }}"></span></li>
  </ul>
</a>