<div class="infoPanel">
  <h1>Trail Details</h1>

  <header>
    <h2>{{ name }}</h2>
    <small>near {{ location }}</small>
    </header>

    <section class="attributes">
    <ul>
      <li><span class="icon-trail"></span>{{ distance }} mi</li>
      <li class="openClosed"><span class="icon-{{ openClosed }}"></span>{{ openClosed }}</li>
    </ul>
  </section>

  <section>
    <a class="externalButton" href="#">Trail Profile</a>
  </section>
</div>