<div class="infoPanel">
  <h1>Waypoint Details</h1>
  <header>
    <h2>{{ service.name }}</h2>
    <small>near {{ place.name }}, {{ place.state }}</small>
  </header>

  <section class="address">
    {{ service.address }}<br/>
    {{ place.name}}, {{ place.state }} {{ service.postalCode }}<br/>
    {{ service.phone }}
  </section>

  <section class="attributes">
    <ul>
      <li>
        {{ service.type }}
      </li>
    </ul>
  </section>

  {{#if service.url }}
    <section>
      <a class="externalButton" href="{{ service.url }}" target="_blank">Visit Website</a>
    </section>
  {{/if}}
</div>