<h3 class="float-left" style="display: inline-block; float: left">{{ service.name }}</h3>
<button class="aeris-closeBtn" style="display: inline-block; float: right">close</button>
<div style="clear: both"></div>
<div>
  <small>{{ service.type }} </small>
</div>

<p>
  {{ service.address }}<br />
  {{ place.name}}, {{ place.state }} {{ service.postalCode }}<br />
  {{ service.phone }} <br />
  <a href="{{ service.url }}" target="_blank">{{ service.url }}</a>
</p>