{{! POI Waypoint details }}
<div class="aeris-dragHandle" style="
  position: absolute;
  width:100%;
  top:0; left:0;
  z-index: 999;
">
  <div style="
  width: 60%;
  margin: 0 auto;
  padding: 3px 20px;
  height: 15px;
  border-top: 1px dashed #4E4E4E;
  font-size: 11px;
  text-align: center;
  background: rgba(116, 116, 116, 0.95);
  margin-top: -20px;
  color: white;
  font-weight: bold;
  ">
    Drag me!
  </div>
</div>
<div class="aeris-waypointDetails-header">
  <h3 style="display: inline-block; float: left; margin: 5px;">{{ service.name }}</h3>

  <div style="display: inline-block; float: right">
    <button class="aeris-closeBtn">close</button>
    <button class="aeris-revealBtn">more...</button>
    <button class="aeris-hideBtn">less...</button>
  </div>

  <div style="clear: both"></div>
  <div>
    <small>{{ service.type }} </small>
  </div>
</div>

<hr/>

<p style="float: left">
  {{ service.address }}<br/>
  {{ place.name}}, {{ place.state }} {{ service.postalCode }}<br/>
</p>
<p style="float:right">
  {{ service.phone }} <br/>
  <a href="{{ service.url }}" target="_blank">{{ service.url }}</a>
</p>
<div style="clear: both"></div>